@font-face {
    font-family: 'Tangerine';
    src: url(../font/Tangerine-Regular.ttf);
}

@font-face {
    font-family: 'sansita';
    src: url(../font/SansitaSwashed-VariableFont_wght.ttf);
}

:root {
    --couleurBody: #1D1C1C;
    --couleurFondElement: #554D74;
}

/* ************************************************************************************************************************************** */


body {
    background-color: var(--couleurBody);
    background-color: #1D1C1C;
    margin: 0;
    padding: 0;
    font-family: 'sansita', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 100px;
    word-spacing: 5px;
    color: white;
}


/* ********************************************************Section********************************************************************** */


#histoire {
    position: relative;
    display: flex;
    background-color: #554D74;
    text-align: justify;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;   
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 50px;
    width: 90%;
}

#techniques{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #554D74;
    text-align: justify;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px white;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 50px;
    width: 90%;
}

#logopartenaire {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center; 
    background-color: #554D74;
    border-radius: 20px;
    box-shadow: 0px 5px 5px white;
    margin-bottom: 150px;
    margin-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;
}

/* **************************************************************Texte****************************************************************** */

h2 {
    margin-left: 30px;
}

#propos1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
}

#propos2 {
    width: 72.5%; 
    margin-left: 30px;
}

#partenaire {
    display: block;
    text-align: center;
    width: 100%;
}

/* ************************************************************Image********************************************************************* */


main img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imagepropos1 {
    max-width: 400px;
    max-height: 400px;
    transform: rotate(-15deg);
    margin-right: 80px;
    box-shadow: 5px 5px 5px black;

}

#imagepropos2 {
    margin-top: 180px;
    max-width: 400px;
    max-height: 400px;
    transform: rotate(15deg);
    position: absolute;
    display: flex;
    align-self: flex-end;
    align-items: center;
    box-shadow: 5px 5px 5px black;
}


#logopartenaire img {
    border-radius: 20px;
    max-width: 200px;
    max-height: 200px;
}

#logopartenaire img:hover {
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }


/* *********************************************************Responsive****************************************************************** */


  @media all and (min-width: 300px) and (max-width: 960px) {

    main {
        display: flex;
        flex-direction: column;
        word-spacing: 0px;
    }

    h2 {
        font-size: 18px;
    }

    #histoire {
        flex-direction: column;
        background-color: var(--couleurBody);
        box-shadow: 0px 0px 0px;
        position: static;
        margin-bottom: 40px;
        margin-left: 25px;
        padding-left: 0px;
    }

    #techniques{
        flex-direction: column;
        background-color: var(--couleurBody);
        box-shadow: 0px 0px 0px;
        position: static;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 25px;
    }
    
  

    #imagepropos1 {
        transform: rotate(0deg);
        align-self: center;
        display: block;
        margin-right: 0px;
        width: 100%;
    }

    #imagepropos2 {  
        transform: rotate(0deg);
        display: block;
        align-self: center;
        position: static;
        margin-top: 10px;
        width: 100%;
    }

    #propos1 {
        align-self: center;
        width: 80%;
        font-size: 15px;
    }

    #propos2 {
        justify-content: center;
        width: 80%;
        font-size: 15px;
    }

    #logopartenaire {
        background-color: var(--couleurBody);
        box-shadow: 0px 0px 0px;
        margin-left: 0px;
        margin-bottom: 40px;
    }

    #logopartenaire img{
        width: 100%;
    }

  }

  @media all and (min-width: 961px) and (max-width: 1360px){

    main {
        display: flex;
        flex-direction: column;
    }

    #histoire {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        position: static;
    }

    #propos1 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
    }

    #techniques {
        width: 95%;
        margin-left: 50px;
    }

    #propos2 {
        width: 90%;
    }

    #logopartenaire {
        margin-left: 0px;
    }

    #imagepropos1 {
        align-self: center;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    #imagepropos2 {
        position: static;
        align-self: center;
        margin-top: 50px;
    }

  }

  @media all and (min-width: 1361px) and (max-width: 1860px) {

    #propos2 {
        width: 63%;
    }

    #logopartenaire {
        margin-left: 40px;
    }
  }