@font-face {
    font-family: 'Tangerine';
    src: url(../font/Tangerine-Regular.ttf);
}

@font-face {
    font-family: 'sansita';
    src: url(../font/SansitaSwashed-VariableFont_wght.ttf);
}

section {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    display: flex;
    border-top: solid 2px black;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: white;
}
main {
    padding: 20px;
    margin: 20px;
}
.gauche {
    padding: 20px;
    background-color: rgb(88, 69, 105);
    border-radius: 20%;
    box-shadow: 0px 10px 10px;
}

.droite {
    padding: 20px;
}

.Avis1 {
    padding: 20px;
    width: 300px;
    background-color: rgb(88, 69, 105);
    border-radius: 20%;
    box-shadow: 0px 10px 10px;
}

.Avis2 {
    padding: 20px;
    width: 300px;
    background-color: rgb(88, 69, 105);
    border-radius: 20%;
    box-shadow: 0px 10px 10px;
}

#photo {
    width: 100px;
    height: 100px;
}