header {
    display: flex;
    height: 250px;
    
    justify-content: space-between;
    
}

#logo {
    display: flex;
    width: 10%;
    align-items: center;
    margin-left: 15px;
}
#logoimg {
    width: 150px;
    text-shadow: 0px 4px 4px 0px #302A2C;
}

.titre {
    display: flex;
    width: 30%;
    
    /* justify-content: center; */
    align-items: flex-start;
    
}
#title {
    margin-top: 50px;
    font-size: 120px;
    font-family: tangerine;
    color: #554D4F;
    
}
#vague {
    position: absolute;
    width: 500px;
    height: 400px;
}

.navbar {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.navbarune {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.navbardeux {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.search {
    display: flex;
    width: 15%;
    background-color: #554D74;
    padding-left: 15px;
    height: 80px;
    align-items: center;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 4px 2px white;

}

#search {
    border-radius: 5px;
    margin-right: 15px;
}

#shop {
    margin-right: 10px;
    font-size: 25px;
}
#userLogo {
    font-size: 25px;
}



.navbar a {
    text-decoration: none;
    background-color: #554D74;
    color: white;
    border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    margin: 10px;
    /* height: auto; */
    font-family: sansita;
    box-shadow: 0px 1px 3px 0px;
    padding: 15px;
    padding-left: 45px;
    padding-right:45px;
    font-size: 25px;
}

.navbardeux a {
    padding-left: 70px;
    padding-right: 70px;
}

.navbarune a:nth-of-type(3) {
    padding-left: 70px;
    padding-right: 70px;
}

.navbarune a:nth-of-type(2) {
    padding-left: 70px;
    padding-right: 70px;
}

