@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@700&display=swap');

header {
   height: 150px;
   background-color: #1D1C1C;
   background-size: cover;
   display: flex;
   justify-content: flex-start;
   text-decoration: none;
   list-style: none;

}

header #logo{
    margin-top: 10px;
    margin-left:20px ;
}

header p {
    height: 10px;
    font-family: 'Tangerine', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

header .titre {
    display: flex;
    width: 30%;
    
    /* justify-content: center; */
    align-items: flex-start;
    
}

header #title {
    margin-top: 50px;
    font-size: 120px;
    font-family: tangerine;
    color: #554D4F; 
}

#vague {
    width:200px;
    height:150px;
    position: absolute;
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
}


.vievie {
    margin:0px;
    margin-top: 30px;
    
}

header .Nom {
   display: flex;
   width:30%;
   align-items: flex-start;
   margin-top : 10px;
   margin-left: 10px;
}

@media screen and (min-width: 1800px) {

    .navbar2 {
        display:none;
    }

    .main-navlinks {
        display: none;
    }
}

.navbar {
    position: absolute;
    margin-top: 5px;
    margin-left: 600px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: black;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    width : 100px;
    background-color: #554D74;
    border: solid 2px black;
    border-radius: 30%;
    box-shadow: 0 2px white;
    padding: 15px;
    margin-right: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rechercheetcompte {
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    padding: 40px;
    display: flex;
    align-self: flex-start;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: flex-end;
    width: 150px;
    box-sizing: border-box;
}


header i{
    padding: 10px;
}

@media screen and (min-width:1260px) and (max-width:1800px) {
    .navbar {
        display: none;
    }
    .main-navlinks {
        display: none;
    }
    .navbar2 {
        display: flex;
    }

}

.navbarune {
    width: 500px;
    text-align: center;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;

}

.navbardeux {
    width: 500px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.navbarune li {
    width: 150px;
    border: solid 2px black;
    border-radius: 30%;
    box-shadow: 0 2px white;
    background-color: #554D74;
    padding: 15px;
    margin: 0 25px;
}

.navbardeux li {
    width: 90px;
    border: solid 2px black;
    border-radius: 30%;
    box-shadow: 0 2px white;
    background-color:#554D74 ;
    padding: 15px;
    margin: 0 25px;
    

}

@media screen and (min-width:650px) and (max-width: 1259px) {
    .navbar {
        display:none;
    }

    .navbar2 {
        display: none;
    }

    .navbar .nav-links {
        display: flex;
    }
}

.menuhamburger {

    position: absolute;
    margin-right: 10%;
    margin-left: 90%;
    margin-bottom: 10px;
    display: flex;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    width:50px;
    box-sizing: border-box;
}

@media (max-width:649px) {
    .navbar {
        display:none;
    }

    .navbar2 {
        display: none;
    }

    .menuhamburger {
        display: flex;
    }
    
    header p {
        height: 10px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 25px;
    }
    

    #vague {
        width: 100px;
        position: absolute;
        margin-left: 25px;
    }
}
@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}




header a {
	display: inline-block;
	position: relative;
	transition-duration: defaultDuration;
	transition-property: transform;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:before {
		pointer-events: none;
	  position: absolute;
	  z-index: -1;
	  content: '';
	  top: 100%;
	  left: 5%;
	  height: 10px;
	  width: 90%;
	  opacity: 0;
	  background: radial-gradient(ellipse at center, white 0%,rgba(0,0,0,0) 80%); /* W3C */
      transition-duration: defaultDuration;
	  transition-property: transform opacity;
	}

	&:hover {
		transform: translateY(-6px);
		animation-name: hover;
		animation-duration: 1.5s;
		animation-delay: defaultDuration;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		&:before {
			opacity: .4;
			transform: translateY(6px);
			animation-name: hover-shadow;
			animation-duration: 1.5s;
			animation-delay: .3s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
	}
}
